<kypo2-viz-overview-table
    [useLocalMock]="true"
    [trainingDefinitionId]="3"
    [standalone]="true"
    [trainingInstanceId]="2"
    [feedbackLearnerId]="'Participant1'">
</kypo2-viz-overview-table>

<kypo2-viz-overview-clustering
  [useLocalMock]="true"
  [feedbackLearnerId]="'Participant1'"
  [size]="{width: 800, height: 500}"
  [trainingInstanceId]="2"
  [trainingDefinitionId]="3">
</kypo2-viz-overview-clustering>

<kypo2-viz-overview-timeline
  [useLocalMock]="true"
  [feedbackLearnerId]="'Participant1'"
  [size]="{width: 1000, height: 700}"
  [trainingInstanceId]="2"
  [trainingDefinitionId]="3">
</kypo2-viz-overview-timeline>
