<kypo2-viz-overview-table
    [useLocalMock]="true"
    [trainingDefinitionId]="7"
    [standalone]="true"
    [trainingInstanceId]="6"
    [feedbackLearnerId]="'Participant2'">
</kypo2-viz-overview-table>

<kypo2-viz-overview-clustering
  [useLocalMock]="true"
  [feedbackLearnerId]="'Participant2'"
  [size]="{width: 1200, height: 500}"
  [trainingInstanceId]="6"
  [trainingDefinitionId]="7">
</kypo2-viz-overview-clustering>

<kypo2-viz-overview-timeline
  [useLocalMock]="true"
  [enableAllPlayers]="true"
  [feedbackLearnerId]="'Participant2'"
  [size]="{width: 1200, height: 500}"
  [trainingInstanceId]="6"
  [trainingDefinitionId]="7">
</kypo2-viz-overview-timeline>
