<kypo2-viz-overview-table
    [useLocalMock]="true"
    [trainingDefinitionId]="8"
    [standalone]="true"
    [trainingInstanceId]="18"
    [feedbackLearnerId]="2">
</kypo2-viz-overview-table>

<kypo2-viz-overview-clustering
  [useLocalMock]="true"
  [feedbackLearnerId]="2"
  [size]="{width: 1200, height: 500}"
  [trainingInstanceId]="18"
  [trainingDefinitionId]="8">
</kypo2-viz-overview-clustering>

<kypo2-viz-overview-timeline
  [useLocalMock]="true"
  [enableAllPlayers]="true"
  [feedbackLearnerId]="2"
  [size]="{width: 1200, height: 500}"
  [trainingInstanceId]="18"
  [trainingDefinitionId]="8">
</kypo2-viz-overview-timeline>
